# Dockerfile
*Dockerfile

# Environment
**/.env*

# Git
.git/

# Node
**/node_modules/

# Turbo
**/.turbo/

# Builds
**/.next/
**/.swc/
**/dist/
**/out/

# Server data
server/data/

# Editors and IDEs
.idea/
.vscode/
