# Dockerfile
*Dockerfile

# Git
.git/

# Environment
**/.env*

# Node
**/node_modules/

# Next.js
next-env.d.ts

# Turborepo
**/.turbo/

# Builds
**/.next/
**/.swc/
**/dist/
**/out/

# Tests
**/coverage/

# Editors and IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
