# Environment
**/.env*

# Node
node_modules/

# Turborepo
.turbo/

# Next.js
next-env.d.ts

# Builds
.next/
dist/
out/

# Tests
coverage/

# Server data
server/data/

# Jetbrains
.idea/

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets