# Environment
**/.env*

# Node
**/node_modules/

# Turborepo
**/.turbo/

# Editors and IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets

# macOS
.DS_Store
