@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full scroll-smooth;
}

#__next {
  @apply flex flex-col selection:bg-primary selection:text-primary-content;
}

*[id] {
  @apply scroll-mt-20;
}

@import "highlight/theme";
