name: Web App Pull Request

on:
  pull_request:
    paths: [".github/workflows/web-app-pull-request.yml", ".eslintrc.js", "jest.config.ts", "pnpm-lock.yaml", "web-app.Dockerfile", "web-app/**"]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Lint
        run: pnpm lint
      - name: Tests
        run: pnpm test:web
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          file: ./web-app.Dockerfile
          tags: image:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
